@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
    background-color: #E2F2FF;
}

#homepage {
    background-color: #f4f8fb;

}

.home {
    background-image: url(../images/homebg.png);
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
}

.btncategory a:hover {
    background-color: #A8E0E8;
}

.btncategory a {
    background-color: transparent;
    border: 1px solid #A8E0E8;
    border-radius: 12px;
}

.faqpage {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wrapper {
    width: 50%;
}

.wrapper h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
    line-height: 1.2;
}

#wrapper_button p {
    background-color: #F6C7C7;
    color: white;
    width: 150px;
    padding: 5px 0;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

#wrapper_button p:hover {
    background-color: #8B88F8;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a p {
    background-color: #AFC6FF;
    width: 150px;
    padding: 5px 0;
    border-radius: 100px;
    text-align: center;
    color: black;
}

a p:hover {
    background-color: #7ea1fc;
}

img {
    width: 100%;
    height: auto;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    display: flex;
}

.navbar {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.sm-icons {
    flex-direction: row;
    font-size: 1.5rem;
}

.sm-icons .nav-link {
    padding-right: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p,
span {
    font-family: "Inter", sans-serif;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.btn {
    background-color: #AFC6FF;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: black;
}

.btn:hover {
    background-color: #99A3FF;
}

.aboutus button {
    color: black;
    background-color: #AFC6FF;
    border-radius: 10px;
}

.aboutus button:hover {
    background-color: #99A3FF;
    color: black;
}

.upload-box {
    border: 2px dashed #8ba7c2;
    background-color: #f4f9ff;
    border-radius: 15px;
    padding: 40px;
    cursor: pointer;
}

.upload-box:hover {
    background-color: #eef5ff;
}

.pricing-pill {
    background-color: #bfc7ff;
    border-radius: 20px;
}

.contactform {
    background-color: white;
    padding: 45px 50px 40px 50px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

.contactform .inputbox {
    width: 100%;
    margin: 0 0 10px 0;
}

.contactform .inputbox input, .contactform .inputbox textarea{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: solid 1px grey;
}

.contactform .inputbox input[type="submit"] {
    background-color: #AFC6FF;
    color: black;
    border: none;
}

.contactform .inputbox textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.email_form {
    padding: 20px 0 50px 0;
}

.email_form {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

}












































